.search{
    margin-top:2%;
    width:50%;
    margin-left:25%;
    background: #50808e;
}
.search .groups{
    width:100%;
    margin-top:5%;
    padding-top: 5px;
    padding-bottom:5px;
    background: #50808e;

}
.groups input{
    margin-left:7%;
    background: #f2dede;
    color: #ec971f;
    border:none;
    outline:none;

}